<?xml version='1.0' encoding='utf-8'?>
<plugin id="xyz.berial.socialsharing" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SocialSharing</name>
    <js-module name="SocialSharing" src="www/SocialSharing.js">
        <clobbers target="cordova.plugins.SocialSharing"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SocialSharing">
                <param name="android-package" value="xyz.berial.socialsharing.SocialSharing"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.FLASHLIGHT"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
        <source-file src="src/android/SocialSharing.java" target-dir="src/xyz/berial/socialsharing"/>
        <source-file src="src/android/libs/MobCommons.jar" target-dir="libs"/>
        <source-file src="src/android/libs/MobTools.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-Core-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-QQ-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-ShortMessage-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-SinaWeibo-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-Wechat-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-Wechat-Core-2.6.6.jar" target-dir="libs"/>
        <source-file src="src/android/libs/ShareSDK-Wechat-Moments-2.6.6.jar" target-dir="libs"/>
    </platform>
</plugin>